#sidebar {
  background-color: #020203;
  width: 120px;
  height: calc(100% - 90px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#sidebar .sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar .sidebar-link a {
  background-color: white;
  width: 64px;
  height: 64px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FF0101;
  font-size: 30px;
}

#sidebar .copiryght {
  transform: rotate(-90deg);
  font-size: 1em;
}